/agent-*
/coverage
/covdir
/gopath
/gopath.proto
/release
test
/bin
*.etcd
*.log
/etcd
/hack/insta-discovery/.env
*.coverprofile
*.test
hack/tls-setup/certs
.idea
/contrib/raftexample/raftexample
/contrib/raftexample/raftexample-*

*.bak
